<!DOCTYPE html>
<html>
<head>
  <title>HouseInSight</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header"><h1 class="header">House In Sight</h1></div>
    <div class="sidebar">side bar</div>
    <div class="main"><%= yield %></div>
    <div class="footer">Copyright 2012 by HouseInSight.</div>
  </div>
</body>
</html>
