// Place all the styles related to the Apartments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
  width: 120px;
  height: 90px;
  margin: 0px;
  padding: 0px;
  /*float: left;*/
  position: absolute;
}
.thumbnail img{
  width: 120px;
  height: 90px;
}

.profile {
  margin: 0px;
  padding: 1em;
}
.renders {
  /*float: left;*/
  position: relative;
  left: 120px;
  top: 0px;
  width: 20em;
  height: auto;
}
.apartment-item {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: gray;
  border-bottom-width: 1px;
}
div.clear {
  clear: both;
}
