// Place all the styles related to the Apartments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#apartment-list {
  margin-left: 0px;
  padding-left: 0.2em;
}
.apartment-item {
  margin-left: 0px;
  padding-left: 0px;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: gray;
  border-bottom-width: 1px;
}

.thumbnail {
  width: 120px;
  height: 90px;
  margin: 0px;
  padding: 0px;
  position: absolute;
}
.thumbnail img{
  width: 120px;
  height: 90px;
}

.profile {
  margin: 0px;
  padding: 1em;
  padding-top: 0px;
}
.renders {
  position: relative;
  left: 120px;
  top: 0px;
  width: 20em;
  height: auto;
}
div.clear {
  clear: both;
}
div.pagination {
  margin: 0em;
  padding: 0em;
}
div.pagination ul {
  margin: 0em;
  padding: 0em;
}
div.pagination li {
  display: inline;
  margin: 0.1em;
  padding: 0.1em;

}
div.pagination .number, .current  {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  margin: 0.1em;
  padding: 0.1em;

}
div.pagination .current {
  background-color: #90d7ec;
}
