@import "bootstrap";
@import "bootstrap-responsive";

@import "font-awesome";
@import "compass/typography/lists/horizontal-list";
@import "apartments";

.dash-line {
  border-bottom: 1px dotted #bcb6fd;
  margin-bottom: 1em;
}

ul.horizontal {
  @include horizontal-list;
}

body {
  padding-top: 50px;
}

.footer {
  background-color:#9a9a9a;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  
}


 

