/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
div.container {
  width:75%;
  margin:0px auto;
  line-height:150%;
}
div.search {
  margin:5px auto;
}
div.header, div.footer {
  padding:0.5em;
  clear:left;
}
ul.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}
ul.nav li { 
  float: left; 
  margin-right: 0.6em;
}
ul.tags {
  /*margin: 0;*/
  clear: both;
}
ul.tags li {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
ul.tags li span {
  background-color: #d3d7d4;
}
a:link {
  color: blue;
  text-decoration: none;
}

div.footer {
  background-color: gray;
  text-align: center;
  color:white;
}
h1.header {
  padding:0;
  margin:0;
}
div.sidebar {
  float: right;
  width:160px;
  margin:0;
  padding:1em;
}
.sidebar img {
  width: 90%;
  height: auto;
}
div.main {
  margin-right:190px;
  /*border-right:1px solid gray;*/
  padding:1em;
}
div.content {
  padding:1em;
  border-top-color: yellow;
  border-top-width: 2px;
  border-top-style: dotted;

}

