/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
div.container {
  width:100%;
  margin:0px;
  border:1px solid gray;
  line-height:150%;
}
div.header, div.footer {
  padding:0.5em;
  color:white;
  background-color:gray;
  clear:left;
}
h1.header {
  padding:0;
  margin:0;
}
div.sidebar {
  float: right;
  width:160px;
  margin:0;
  padding:1em;
}
div.main {
  margin-right:190px;
  border-right:1px solid gray;
  padding:1em;
}

