.tabbable
  %ul.nav.nav-tabs
    -@districts.each do |d|
      %li
        =link_to d.name,  "district/#{d.id}/communities"
  .tab-content
    #community.tab-pane.active
      
.row-fluid
  .span6.offset1

.row-fluid
  .span6.offset1
    %h3 浦东新区 张江镇
    %h4 总体规划
    %p 
      园区总体划分为以下的区域：
      技术创新区：重点区域，用于孵化引进的十余所名牌高校和国家级科研机构，并供给高科技公司办公，中心部分为生活服务中心。
    %h4 交通
    %p 
      轨道交通二号线横贯园区，在园区内松涛路祖冲之路设有张江高科站，金科路站和广兰路站。 二号线的东延伸段（至上海浦东国际机场）已于2010年2月24号开通，园区已新添金科路站，广兰路站。在延伸段开通初期因为没有考虑到人流压力，导致上下班高峰期时张江高科站出现严重堵塞。
    %br 规划中13号线，2020年开通。
    %br
      公交车有：张川线，990，孙桥一路，都到地铁站。
    %h4 教育
    %p 张江中学（普通），华师大二附中（市重点）
    %h4 医疗 （不太成熟）
    %p 曙光医院（三甲，中医院）
    %h4 商业（不成熟）
    %p 长泰国际（建设中，2014年开业）
    %h4 环境
    %p 软件园和药谷
    %h4 娱乐（稀缺）
    %p 迪士尼（建设中）
    %h4 居住区
    %p 张江镇（热闹区），唐镇（大型居住区），孙桥镇（现代农业，价格低洼）
    
    %h4 新开楼盘
    %p 张江汤臣豪园4期（28500元／平米，90平米小户型，张江员工96折优惠）

  .span4
    %ul
      %li
        %a 绿地规划
      %li
        %a 商业规划
      %li
        %a 居住区规划
      %li
        %a 产业规划

